@model List<Education>
@{
    ViewData["Title"] = "EducationList";
    Layout = "~/Views/AdminLayout/Index.cshtml";
    int count = 0;
}

<h2>Eğitim Listesi</h2>

<table class="table table-bordered">

    <tr>
        <th>#</th>
        <th>Eğitim</th>
        <th>Eğitim Kurumu</th>
        <th>Tarih</th>
        <th>Açıklama</th>
        <th>Sil</th>
        <th>Güncelle</th>
    </tr>
    @foreach (var item in Model)
    {
        count++;
        <tr>
            <td>@count</td>
            <td>@item.Title</td>
            <td>@item.SubTitle</td>
            <td>@item.DateInfo</td>
            <td>@item.Description</td>
            <td><a href="/Education/DeleteEducation/@item.EducationId" class="btn btn-danger">Sil</a></td>
            <td><a href="/Education/UpdateEducation/@item.EducationId" class="btn btn-success">Güncelle</a></td>
        </tr>
    }
</table>
<a href="/Education/CreateEducation/" class="btn btn-primary">Yeni Eğitim Ekle</a>

